@import url('https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 html {
	 font-family: Arial;
	 font-size: 16px;
	 background: #FCFCF7;
}

body{
  margin: 0px;
  display: block;
}
 .sidebar {
	 position: fixed;
	 width: 25%;
   height: 100vh;  
   background: linear-gradient(to right, #b993d6, #8ca6db); 
	 font-size: 0.65em;
}
 .nav {
  font-family: 'Lato', sans-serif;
	 position: relative;
	 margin: 0 15%;
	 text-align: right;
	 top: 50%;
	 transform: translateY(-50%);
	 font-weight: bold;
}
 .nav ul {
	 list-style: none;
}
 .nav ul li {
	 position: relative;
	 margin: 3.2em 0;
}
 .nav ul li a {
	 line-height: 5em;
	 text-transform: uppercase;
	 text-decoration: none;
	 letter-spacing: 0.4em;
	 color: rgba(255, 255, 255, 0.35);
	 display: block;
	 transition: all ease-out 300ms;
}
 .nav ul li.active a {
	 color: white;
}
 .nav ul li:not(.active)::after {
	 opacity: 0.2;
}
 .nav ul li:not(.active):hover a {
	 color: rgba(255, 255, 255, 0.75);
}
 .nav ul li::after {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 0.2em;
	 background: black;
	 left: 0;
	 bottom: 0;
	 background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.active{
  color: white !important;

}


.title {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size:25px;
  /* letter-spacing: 0.1em; */
  /* color: #FFF; */
  /* font-weight: bold; */
  margin-top: 30px;
  padding-top: 20px;
  margin-left: -53px;
}

.fa-width {
 width: 2.25em !important;
}

.flex-container {
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex-direction: row; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

.flex-container > div {
  /* flex: 1 1 50%; */
  flex: 1 0 calc(33.333% - 20px); 
  align-self: auto;
  /* flex-grow: 1; */
  /* width: 100%;
  margin: 10px;
  text-align: center; */
  /* line-height: 75px; */
}

.flex-margin{
  margin-left: 400px;
}


