table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 40px;
}
table thead tr {
    font-family: 'Lato', sans-serif;
    height: 60px;
    background: #6c7ae0;
    font-size: 16px;
    color: #fff;
}
table tbody tr {
  font-family: 'Poppins', sans-serif;
  color: #666666;
    height: 48px;
    border-bottom: 1px solid #F2EEEF !important;
}
table tbody tr:hover{
    background-color: #ececff;
}
table tbody tr td:last-child {
    border-bottom: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}
@media screen and (max-width: 35.5em) {
    table {
        display: block;
   }
    table > *, table tr, table td, table th {
        display: block;
   }
    table thead {
        display: none;
   }
    table tbody tr {
        height: auto;
        padding: 8px 0;
   }
    table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
   }
    table tbody tr td:last-child {
        margin-bottom: 0;
   }
    table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
   }
    table tbody tr td:nth-child(1):before {
        content: "Food Item";
   }
    table tbody tr td:nth-child(2):before {
        content: "Unit Price";
   }
    table tbody tr td:nth-child(3):before {
        content: "In Stock";
   }
    table tbody tr td:nth-child(4):before {
        content: "";
   }

}

.active-txt {
    font-weight: bold;
}

span {
    font-family: 'Lato', 'sans-serif';
    cursor: pointer;
}

button{
border: none;
background: none;
cursor: pointer;
}